

<log4net debug="true">
	<appender name="file" type="log4net.Appender.RollingFileAppender">
		<file  value="C:\Users\User\Desktop\c#\prenotazione-postazioni\prenotazioni-postazioni-api\log\log-"/>
		<rollingStyle value="Date"/>
		<datePattern value="yyyyMMdd.\tx\t"/>
		<staticLogFileName value="false"/>
		<appendToFile value="true" />
		<maximumFileSize value="100MB" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date] [%-5level] [%thread] [%class] - %message%newline"/>
		</layout>
	</appender>
	
	<appender name="AdoNetAppender_SqlServer" type="log4net.Appender.AdoNetAppender">
		<bufferSize value="1" />  
		<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.8.3, Culture=neutral, PublicKeyToken=b77a5c561934e089" />  
		<connectionString value="data source=LTP040;initial catalog=[prenotazioni-impostazioni];integrated security=true" />
		<commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Message]) VALUES (@log_date, @thread, @log_level, @message)" />
		<parameter>
			<parameterName value="@log_date" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
		</parameter>
		<parameter>
			<parameterName value="@thread" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout" value="%thread" />
		</parameter>
		<parameter>
			<parameterName value="@log_level" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout" value="%level" />
		</parameter>
		<parameter>
			<parameterName value="@message" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="log4net.Layout.PatternLayout" value="%message" />
		</parameter>
	</appender>
	
	
	<root>
		<level value="ALL"/>
		<appender-ref ref="file"/>
		<appender-ref ref="AdoNetAppender_SqlServer"/>
	</root>
</log4net>